$site-width: 1024px;

$decorative-font: "'Merriweather', serif";

$white: #FFFFFF;

.navigation {
  position: absolute;
  top: 24px;;
  left: 0;
  z-index: 100;

  width: 100%;

  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;

  .navigation-inner {
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-logo {
    width: 160px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  width: 100%;
  height: 100vh;

  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;

  position: relative;

  background-image: url(/static/hero-mobile.png);
  background-position: center center;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url(/static/hero.png);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(/static/texture-1-mobile.png);
    background-position: center center;
    background-size: cover;

    @media (min-width: 768px) {
      background-image: url(/static/texture-1.png);
    }
  }

  .hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;

    padding-top: 96px;
    padding-bottom: 24px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 40vh;
    }
  }

  .hero-quote {
    margin-bottom: 36px;

    @media (min-width: 1024px) {
      margin-bottom: 0;
    }

    p {
      font-family: $decorative-font;
      font-size: 22px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: $white;
      quotes: initial;

      @media (min-width: 768px) {
        font-size: 28px;
      }

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    footer {
      font-family: $decorative-font;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.4;
      letter-spacing: 0.12em;
      color: $white;
      text-transform: uppercase;
      margin-top: 16px;

      @media (min-width: 768px) {
        font-size: 24px;
        margin-top: 24px;
      }
    }

    @media (min-width: 1024px) {
      width: calc(40% - 24px);
    }
  }

  .hero-trailer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media (min-width: 1024px) {
      width: calc(60% - 24px);
    }

    .trailer-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      @media (min-width: 1024px) {
        flex-direction: column;
      }

      h3 {
        font-family: $decorative-font;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        letter-spacing: 0.04em;
        color: $white;
        text-transform: uppercase;
        margin-right: 4px;

        @media (min-width: 768px) {
          font-size: 24px;
          margin-right: 8px;
        }

        @media (min-width: 1024px) {
          position: absolute;
          margin-right: 0;
          top: -48px;
        }
      }

      img {
        height: 72px;

        @media (min-width: 768px) {
          height: 128px;
        }

        @media (min-width: 1024px) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
