$site-width: 1024px;

$decorative-font: 'ITC Cheltenham', serif;
$ui-font: 'MuseoSans', sans-serif;

$white: #FFFFFF;
$medium-black: #29292A;
$blue: #266093;

@import url('https://fast.fonts.net/lt/1.css?apiType=css&c=68c8fbf8-be1e-49a0-9397-e71d339cdd92&fontids=5745183');
@font-face{
  font-family: 'ITC Cheltenham';
  src: url('../fonts/a29de734-0c44-4eb7-b671-3728ccabdd6e.woff2') format('woff2'),url('../fonts/c8724e4d-c74e-4fa9-844c-43a4cd5c91c7.woff') format('woff');
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-100.woff2') format('woff2'), url('../fonts/MuseoSans-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300.woff2') format('woff2'), url('../fonts/MuseoSans-300.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300-italic.woff2') format('woff2'), url('../fonts/MuseoSans-300-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-500.woff2') format('woff2'), url('../fonts/MuseoSans-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700.woff2') format('woff2'), url('../fonts/MuseoSans-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-700-italic.woff2') format('woff2'), url('../fonts/MuseoSans-700-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900.woff2') format('woff2'), url('../fonts/MuseoSans-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@import './reset.css';

@import './hero.scss';
@import './navigation.scss';
@import './partners.scss';
@import './signup.scss';
@import './trailer.scss';

body {
  background-color: $medium-black;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
