.navigation {
  position: absolute;
  top: 24px;;
  left: 0;
  z-index: 100;

  width: 100%;

  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;

  .navigation-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-logo {
    width: 160px;
  }

  .navigation-hamburger {
    font-family: $ui-font;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    cursor: pointer;

    padding: 8px 4px;
    background: none;
    border: none;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .navigation-links {
    display: none;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    li {
      display: block;
      margin-left: 32px;
      position: relative;
    }

    a {
      font-family: $ui-font;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      cursor: pointer;

      &:hover {
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          background-color: $white;
          position: absolute;
          top: calc(100% + 8px);
          left: 0;
        }
      }
    }
  }
}
