#navigation.--open {
  width: 100vw;
  height: 100vh;
  background-color: $medium-black;
  overflow-y: scroll;

  .navigation-inner {
    flex-wrap: wrap;
  }

  .navigation-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 48px;
  }

  .navigation-item {
    margin-left: 0 !important;
    margin-bottom: 24px;

    &:hover {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navigation-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    padding-left: 0;
    padding-top: 12px;
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  .navigation-list {
    display: flex;
    margin-right: 0;
    width: 100%;

    p {
      font-size: 24px;
    }

    a {
      color: $white;

      &:hover {
        color: #c6c6c7;
      }
    }

    li {
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: none;
    }

    li:first-child {
      padding-top: 6px;
    }

    li:last-child {
      padding-bottom: 6px;
    }
  }
}

.navigation {
  position: absolute;
  top: 0;;
  left: 0;
  z-index: 100;

  width: 100%;

  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;

  box-sizing: border-box;

  .navigation-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-logo {
    width: 160px;
  }

  .navigation-hamburger {
    font-family: $ui-font;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    cursor: pointer;

    padding: 8px 4px;
    background: none;
    border: none;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .navigation-links {
    display: none;
    list-style: none;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .navigation-item {
      display: block;
      margin-left: 32px;
      position: relative;
      box-sizing: border-box;

      &:hover {
        padding-top: 12px;
        padding-bottom: 12px;

        .navigation-dropdown {
          display: flex;
        }

        p {
          color: #c6c6c7;
        }
      }
    }

    .navigation-dropdown {
      display: none;
      width: fit-content;
      position: absolute;
      top: 100%;
      padding: 16px;
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &.--center {
        transform: translate(-50%);
        left: 50%;
      }

      &.--right {
        transform: translate(-100%);
        left: 100%;

        &:after {
          left: 90%;
        }
      }

      &.--split {
        flex-direction: row;
        justify-content: space-between;

        .navigation-list:first-child {
          margin-right: 24px;
        }
      }

      &:after {
        content: '';
        display: block;
        top: -7px;
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $white;
      }
    }

    .navigation-list {
      list-style: none;
      flex-direction: column;

      li {
        display: block;
        box-sizing: border-box;

        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid $blue;
      }

      li:first-child {
        padding-top: 0;
      }

      li:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    p {
      font-family: $ui-font;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      cursor: pointer;
    }

    a {
      display: block;
      font-family: $ui-font;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;
      color: $medium-black;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }
}
