.tool {
  background-color: $dark-black;

  .main {
    background-image: url('/static/texture-4.png');
    background-size: 650px 600px;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  .tool-column {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 960px;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;

    padding-top: 120px;
    padding-bottom: 96px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      padding-top: 160px;
    }
  }

  .tool-title {
    display: block;

    font-family: $decorative-font;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

    -webkit-text-fill-color: transparent;
    background-image: url('/static/texture-5.png');
    -webkit-background-clip: text;

    margin-bottom: 72px;

    @media (min-width: 768px) {
      font-size: 52px;
    }
  }

  .tool-subtitle {
    display: block;

    font-family: $decorative-font;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: $white;

    margin-bottom: 24px;
  }

  .signup-form input {
    color: $medium-black;
    background-color: $white;
  }
}
