<section class="about-artist-section main-wrapper" id="about-artist-section">
  <div class="main-title">
    <h2>ABOUT THE ARTIST <br>ANDREA PIPPINS</h2>
  </div>
  <div class="about-artist-content main-inner-wrapper">
    <div class="about-artist-image">
      <img src="/static/images/about-img.jpg">
    </div>
    <div class="about-artist-text">
      <p>Andrea Pippins’ work has been featured in Essence Magazine, The New York Times, and O: The Oprah Magazine. She has worked with brands such as Bloomberg, Broadly, ESPN, The High Line, Lenny Letter, Lincoln Center, and the National Museum of African American History and Culture. </p>
      <p>Pippins is also the author of: I Love My Hair, a coloring book featuring her illustrations celebrating various hairstyles and texture; Becoming Me, an interactive journal for young women to color, doodle, and brainstorm their way to a creative life; and We Inspire Me, a collection of essays, interviews, and advice on cultivating and empowering one's own creative community. She also illustrated Young Gifted and Black and Step Into Your Power.</p>
      <a href="https://andreapippins.com/" target="_blank">andreapippins.com</a>
    </div>
  </div>
</section>
