<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="homepage">
    <div id="trailer" class="video-overlay">
      <button id="close-trailer">← back to home</button>
      <iframe class="mobile-overlay" width="336" height="189" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="tablet-overlay" width="560" height="315" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="desktop-overlay" width="960" height="650" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <main class="main">
      <section class="faq-section main-wrapper" id="faq-section">
        <div class="main-inner-wrapper">
        	<div class="main-title">
          	<h2>FAQ</h2>
          </div>
          <div class="faq-section-content">
            <strong>Do I need to RSVP to register to vote on the bus tour?</strong>
            <p>No. You can just roll up (we’ll even provide a free mask if you need one!)</p>
            <strong>Do I need to RSVP to register to join a community screening?</strong>
            <p>Yes. Please RSVP by emailing here. [hyperlink]. We would like as many people as possible to see this film, but due to covid-safety measures we have limited attendance numbers per screening.</p>
            <strong>Is it covid-safe to participate?</strong>
            <p>Measures have been taken for a socially-distant process and we provide hand sanitizer and facemasks. </p>
            <strong>How do I request a screening near me?</strong>
            <p>Email us [hyperlink]!</p>
          </div>
      </div>
      </section>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
