<section class="instagram-section main-wrapper" id="instagram-section">
  <div class="main-title">
   <h2>#ALLINFORVOTING</h2>
 </div>
 <div class="instagram-inner-section">
  <div class="instagram-img">
   <img src="/static/images/01Twitter_staceyabrams.png">
 </div>
 <div class="instagram-img">
   <img src="/static/images/02Instagram_splcenter.png">
 </div>
 <div class="instagram-img">
  <img src="/static/images/03Instagram_its_missra.png">
</div>
<div class="instagram-img">
 <img src="/static/images/04Instagram_ywcasouthfl.png">
</div>
<div class="instagram-img">
 <img src="/static/images/05Instagram_iamdevinrucker.png">
</div>
<div class="instagram-img">
  <img src="/static/images/06Instagram_craftboro_brewing_depot.png">
</div>
</div>
</section>
