<nav id="navigation" class="navigation">
  <div class="navigation-inner">
    <a href="/" aria-label="Back home">
      <img class="navigation-logo" src="/static/logo.png" alt="All In: The Fight for Democracy" />
    </a>
    <button id="toggle-navigation" aria-label="Open mobile menu" class="navigation-hamburger">
      Menu
    </button>
    <ul class="navigation-links">
      <li class="navigation-item">
        <p>about the film</p>
        <div class="navigation-dropdown --center">
          <ul class="navigation-list">
            <li><a target="_blank" href="https://amazon.com/allinmovie" aria-label="About the film (Opens in new tab)">About The Film</a></li>
            <li><a target="_blank" href="https://www.amazon.com/dp/B08FRSNBLL">Watch The Film Online</a></li>
            <li><a class="--disabled">Find Theater Times</a></li>
          </ul>
        </div>
      </li>
      <li class="navigation-item">
        <p>how to vote</p>
        <div class="navigation-dropdown --center --split">
          <ul class="navigation-list">
            <li><a href="/register-to-vote">Register to Vote</a></li>
            <li><a href="/registration-status">Check Registration Status</a></li>
            <li><a href="/election-reminders">Get Election Reminders</a></li>
            <li><a href="/mail-in-ballot">Request a Mail-in Ballot</a></li>
          </ul>
          <ul class="navigation-list">
            <li><a target="_blank" href="https://www.vote.org/polling-place-locator/" aria-label="Find your polling place (Opens in new tab)">Find Your Polling Place</a></li>
            <li><a href="/ballot-preview">See What’s On Your Ballot</a></li>
            <li><a target="_blank" href="https://www.rockthevote.org/how-to-vote/" aria-label="How to vote in your state (Opens in new tab)">How To Vote In Your State</a></li>
            <li><a target="_blank" href="https://www.aclu.org/know-your-rights/voting-rights/" aria-label="Know your rights (Opens in new tab)">Know Your Rights</a></li>
          </ul>
        </div>
      </li>
      <li class="navigation-item">
        <p>take action</p>
        <div class="navigation-dropdown --center">
          <ul class="navigation-list">
            <li><a href="/commit-to-vote">Commit to Vote</a></li>
            <li><a href="/voting-squad-captain">Become a Voting Squad Captain</a></li>
            <li><a target="_blank" href="https://forms.gle/c92f8RuXvuEWUhuD7">Share Your Voter Suppression Story</a></li>
            <li><a target="_blank" href="https://www.powerthepolls.org/" aria-label="Volunteer as a poll worker (Opens in new tab)">Volunteer as a Poll Worker</a></li>
            <li><a target="_blank" href="https://protectthevote.net/" aria-label="Volunteer as a poll monitor (Opens in new tab)">Volunteer as a Poll Monitor</a></li>
            <li><a target="_blank" href="https://forms.gle/yLWV1CGdwfxCagbX9" aria-label="Host a Screening (Opens in new tab)">Host a Screening</a></li>
          </ul>
        </div>
      </li>
      <li class="navigation-item">
        <p>resources</p>
        <div class="navigation-dropdown --right">
          <ul class="navigation-list">
            <li><a target="_blank" href="https://allintovote.org/" aria-label="Resources for college voters (Opens in new tab)">Resources for college voters</a></li>
            <li><a target="_blank" href="https://www.defense.gov/Experience/You-Can-Vote-From-Anywhere/" aria-label="Resources for military members (Opens in new tab)">Resources for military members</a></li>
            <li><a target="_blank" href="https://www.votefromabroad.org/" aria-label="Resources for those voting abroad (Opens in new tab)">Resources for those voting abroad</a></li>
            <li><a target="_blank" href="http://thesocialpresskit.com/">Social Media Toolkit</a></li>
          </ul>
        </div>
      </li>
      <li class="navigation-item">
        <p>On the Road</p>
        <div class="navigation-dropdown --right">
          <ul class="navigation-list">
            <li><a href="#about-allinfo" aria-label="All In For Voting Bus Tour">All In For Voting Bus Tour</a></li>
            <li><a href="#scheduale-location" aria-label="Schedule + Locations">Schedule + Locations</a></li>
            <li><a href="#about-artist-section" aria-label="About the Artist">About the Artist</a></li>
            <li><a href="#faq-section" aria-label="FAQ">FAQ</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
