<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body class="homepage">
    <div id="trailer" class="video-overlay">
      <button id="close-trailer">← back to home</button>
      <iframe class="mobile-overlay" width="336" height="189" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="tablet-overlay" width="560" height="315" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="desktop-overlay" width="960" height="650" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <main class="main">
      <section class="scheduale-location main-wrapper" id="scheduale-location">
      	<div class="main-title">
        	<h2>Scheduale + Location</h2>
        </div>
        <div class="scheduale-location-content main-inner-wrapper">
          <div class="scheduale-location-banner">
            <img src="images/location-banner.jpg">
          </div>
          <div class="scheduale-location-data">
            <div class="location-detail">
              <div class="table-responsive">
                <table class="table" id="location-data">
                    <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
