<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./partials/head-tags.html') %>
  </head>
  <body class="tool">
    <%= require('html-loader!./partials/nav.html') %>
    <main class="main">
      <div class="tool-column">
        <h1 class="tool-title">Commit To Vote</h1>
        <p class="tool-subtitle">A reminder to vote can make all the difference, especially when it comes from a friend. Pledge to vote, then let us know the three friends you'll remind to vote before Election Day.</p>

        <div class="signup-form">
          <form name="commits" method="POST" data-netlify="true">
            <div class="field-layout">
              <div class="signup-form-field">
                <label for="signup-form-name">Name</label>
                <input id="signup-form-name" type="text" name="name" required />
              </div>
              <div class="signup-form-field">
                <label for="signup-form-email">Email</label>
                <input id="signup-form-email" type="email" name="email" required />
              </div>
              <div class="signup-form-field">
                <label for="signup-form-zip">Zip Code</label>
                <input id="signup-form-zip" type="number" name="zip" minlength="5" maxlength="5" required />
              </div>
              <div class="signup-form-field">
                <label for="signup-form-tel">Phone</label>
                <input id="signup-form-tel" type="tel" name="tel" required />
              </div>
              <div class="signup-form-field --full">
                <label for="signup-form-friend-1">Friend 1's Name</label>
                <input id="signup-form-friend-1" type="text" name="friend1" required />
              </div>
              <div class="signup-form-field --full">
                <label for="signup-form-friend-2">Friend 2's Name</label>
                <input id="signup-form-friend-2" type="text" name="friend2" required />
              </div>
              <div class="signup-form-field --full">
                <label for="signup-form-friend-3">Friend 3's Name</label>
                <input id="signup-form-friend-3" type="text" name="friend3" required />
              </div>
            </div>
            <button type="submit">submit</button>
            <p class="signup-form-disclaimer">Disclaimer: By signing up, you consent to receive periodic text messages from the All In For Voting campaign and Fair Fight Action. Message and data rates may apply. Text HELP for more information. Text STOP to stop receiving messages.</p>
          </form>
        </div>
      </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
