<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./partials/head-tags.html') %>
  </head>
  <body class="tool">
    <%= require('html-loader!./partials/nav.html') %>
    <main class="main">
      <div class="tool-column">
        <h1 class="tool-title">Request a mail-in ballot</h1>
        <div>
          <iframe src="https://absentee.vote.org/?partner=111111&campaign=free-tools" width="100%" marginheight="0" frameborder="0" id="frame2" scrollable ="no"></iframe>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({ log:true, checkOrigin:false});</script>
        </div>
      </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
