<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./partials/head-tags.html') %>
  </head>
  <body class="homepage">
    <div id="trailer" class="video-overlay">
      <button id="close-trailer">← back to home</button>
      <iframe class="mobile-overlay" width="336" height="189" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="tablet-overlay" width="560" height="315" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe class="desktop-overlay" width="960" height="650" src="https://www.youtube.com/embed/t6jVGswLPd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%= require('html-loader!./partials/nav.html') %>
<!--     <main class="main"> -->
       <%= require('html-loader!./partials/about-allinfo.html') %>
       <%= require('html-loader!./partials/schedual-location.html') %>
       
       <%= require('html-loader!./partials/about-artist.html') %>
       <%= require('html-loader!./partials/faqs.html') %>
<!--     </main> -->
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
