<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./partials/head-tags.html') %>
  </head>
  <body class="tool">
    <%= require('html-loader!./partials/nav.html') %>
    <main class="main">
      <div class="tool-column">
        <h1 class="tool-title">Register To Vote</h1>
        <script type="text/javascript"  src="https://register.rockthevote.com/assets/rtv-iframe.js"></script>
        <script type="text/javascript">
          RtvIframe.init({
            partner: 38694
          });
        </script>
      </div>
    </main>
    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
