<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require('html-loader!./head-tags.html') %>

    <link rel='preload' href='https://d3rse9xjbp8270.cloudfront.net/at.js' as='script' crossorigin='anonymous'>
    <link rel='preload' href='https://d3rse9xjbp8270.cloudfront.net/at.min.css' as='style'>
  </head>
  <body class="tool">
    <%= require('html-loader!./nav.html') %>
    <main class="main">
      <h1 class="tool-title">Become A When We All Vote Voting Squad Captain</h1>

      <div>
        <script type='text/javascript' src='https://d3rse9xjbp8270.cloudfront.net/at.js' crossorigin='anonymous'></script>
        <div class="ngp-form"
        data-form-url="https://secure.everyaction.com/v1/Forms/Twmmood_HEC-giE5Xwdz1Q2"
        data-fastaction-endpoint="https://fastaction.ngpvan.com"
        data-inline-errors="true"
        data-fastaction-nologin="true"
        data-databag-endpoint="https://profile.ngpvan.com"
        data-databag="everybody"
        data-mobile-autofocus="false">
        </div>
      </div>
    </main>
    <%= require('html-loader!./footer.html') %>
  </body>
</html>
